<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1> Hi {{ username }}</h1>
  <p>
    You receive this email because you are trying to register to <strong>genomicepidemiology.io</strong>.
    Please click <b><a href="{{ verification_url }}">activation link</a></b> and press submit button.
  </p>
  <p>Sincerely,<br>genomicepidemiology.io</p>
</body>

</html>
